* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 20px;
}

button, input[type=radio]{
    transition: 0.2s all linear;
}

button:hover, input[type=radio]:hover{
    transform: translate(0,-0.3rem);
    box-shadow: 0 1rem 4rem rgba(0,0,0,.50);
}

fieldset {
    border: 0 solid black;
    width: 100%;
    height: 100%;
}

legend {
    background-color: black;
    color: white;
    /*background: white;*/
    /*color: black;*/
    /*border: black solid 2px;*/

    padding: 1ex 1ex;
    margin-left: auto;
    transform: translate(0,-2rem);
    font-size: 30px;
    /*box-shadow: 0 1rem 4rem rgba(0,0,0,.50);*/
}

.header { text-align: center; }

.main {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 90vh;
}

.layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    height: 100%;
    aspect-ratio: 3 / 2;
}

.cube-wrapper {
    grid-area: 1 / 1 / 4 / 3;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2%;
}

.face-U { grid-area: 1 / 2 / 2 / 3; }
.face-L { grid-area: 2 / 1 / 3 / 2; }
.face-F { grid-area: 2 / 2 / 3 / 3; }
.face-R { grid-area: 2 / 3 / 3 / 4; }
.face-B { grid-area: 2 / 4 / 3 / 5; }
.face-D { grid-area: 3 / 2 / 4 / 3; }

.cube-face {
    background-color: rgba(0, 0, 0, 0.14);
    border: 2px solid rgba(0, 0, 0, 0.001);
    border-radius: 3%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    gap: 1%;
}

.sticker {
    background-color: lightsteelblue;
    border-radius: 5%;
    border-width: 0;
    width: 100%;
    height: 100%;
}

.color-wrapper {
    grid-area: 4 / 1 / 5 / 4;
}
.radio-grid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-items: center;
    align-items: center;
}

.radio-grid input[type=radio] {
    appearance: none;
    border-radius: 10%;
    height: 90%;
    aspect-ratio: 1 / 1;
    transition: 0.2s all linear;
    margin-right: 5px;
    box-shadow: 0 1rem 4rem rgba(0,0,0,.25);
}

.radio-grid input[type=radio]:hover {
    transform: translate(0,-0.3rem);
    box-shadow: 0 1rem 4rem rgba(0,0,0,.50);
}

.radio-grid input[type=radio]:checked {
    border: 6px solid black;
}

#button-yellow { background-color: #cfff04; }
#button-blue { background-color: blue; }
#button-red { background-color: red; }
#button-green { background-color: #0cff0c; }
#button-orange { background-color: orange; }
#button-white { background-color: white; }

.solution-wrapper {
    grid-area: 2 / 3 / 3 / 4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.solution-wrapper p {
    font-size: 25px;
    padding: 1ex 1ex;
    border: solid black 2px;
}


.solve-wrapper {
    grid-area: 1 / 3 / 2 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.solve-wrapper button {
    color: white;
    background-color: black;
    padding: 1ex 1ex;
    border: 0;
    font-size: 30px;
    transition: 0.2s all linear;
    box-shadow: 0 1rem 4rem rgba(0,0,0,.25);
    height: 2em;
}

.solve-wrapper button:active {
    background-color: white;
    color: black;
    outline: 1px solid black;
}

.footer {
    display: flex;
    justify-content: right;
    padding-right: 2rem;
}

.footer div {
    display: flex;
    gap: 1ex;
    align-items: center;
}

#github-logo {
    aspect-ratio: 1 / 1;
    height: 2ex;
}